---
title: Development Builds
pagination:
  for: development_builds
  per_page: 15
---

:markdown
  These downloads are created automatically on every change in the code. Some may be unstable or cause problems. Please [report](https://github.com/MyWarp/MyWarp/issues) any issue.

.table-wrapper
  %table.build-table
    %tr
      %th
        No.
      %th
        Commit
      %th
        Info
      %th

    - pagination_context.each do |id, info|
      %tr
        %td.fitwidth
          = info.build.number
        %td.build-table--commit-hash
          = link_to_commit info.commit.short_hash
        %td
          = info.commit.message
          - unless info.commit.tag.blank?
            .build-table--commit-tag
              %i.gg-tag
              =info.commit.tag
        %td.build-table--download.fitwidth
          = link_to "get", "/builds/#{info.build.number}.html"

%footer.pagination-info
  %span.pagination-info--page-numbers
    = link_to "&#x226a", pagination_context.prev_page.url if pagination_context.prev_page
    Page #{pagination_context.page_num} of #{pagination_context.total_page_num}
    = link_to "&#x226b;", pagination_context.next_page.url if pagination_context.next_page
  %span.pagination-info--feeds
    Available as
    = link_to "RSS", "builds/feed.xml"

// Showing #{pagination_context.per_page} per page
// = link_to "First page", pagination_context.first_page.url
// = link_to "Last page", pagination_context.last_page.url