%html{:lang => "en"}

  %head
    %meta{:charset=> "utf-8"}/
    %meta{:content=> "IE=edge", :http-equiv=>"X-UA-Compatible"}/
    %meta{:content=> "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name=>"viewport"}/
    
    //Favicons (via realfavicongenerator)
    %link{:rel=> "apple-touch-icon", :sizes=> "180x180", :href=> "/apple-touch-icon.png"}/
    %link{:rel=> "icon", :type=> "image/png", :sizes=> "32x32", :href=> "/favicon-32x32.png"}/
    %link{:rel=> "icon", :type=> "image/png", :sizes=> "16x16", :href=> "/favicon-16x16.png"}/
    %link{:rel=> "manifest", :href=> "/site.webmanifest"}/
    %link{:rel=> "mask-icon", :href=> "/safari-pinned-tab.svg", :color=> "#3fae6a"}/
    %meta{:name=> "msapplication-TileColor", :content=> "#3fae6a"}/
    %meta{:name=> "theme-color", :content=> "#ffffff"}/

    //Fonts
    //See https://css-tricks.com/how-to-load-fonts-in-a-way-that-fights-fout-and-makes-lighthouse-happy/
    - font_link = "https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;600&display=swap"
    %link{:rel=>"preconnect", :href=>"https://fonts.gstatic.com", :crossorigin=>true}/
    %link{:rel=>"preload", :as=>"style", :href=>font_link}/
    %link{:rel=>"stylesheet", :href=>font_link, :media=>"print", :onload=>"this.media='all'"}/
    %noscript
      %link{:rel=>"stylesheet", :href=>font_link}/

    //Feeds
    %link{:rel=> "alternate", :type=> "application/rss+xml", :title=> "Feed for new builds", :href=> "/builds/feed.xml"}/

    //Title from the current page's frontmatter
    %title= locals.key?(:title) ? title : current_page.data.title || "MyWarp"
    
    = stylesheet_link_tag "style"

  %body{:class => page_classes}

    %canvas#site-canvas{:style => "position: fixed; z-index: -999; height: 100%; width: 100%;"}
    
    .site-container
      %header.site-header
        .site-header--mobile-wrapper
          %h1.site-header--titel
            %a{:href=> '/'}
              =inline_svg "logo.svg", class: "site-header--logo"
          %button#menu-button.site-header--btn.hamburger.hamburger--squeeze{:type=>'button'}
            %span.hamburger-box
              %span.hamburger-inner

        %nav#main-navigation.site-header--nav
          %ol
            %li
              =link_to 'Docs', 'https://github.com/MyWarp/MyWarp/wiki', :class=>'external'
            %li
              =link_to 'Issues', 'https://github.com/MyWarp/MyWarp/issues', :class=>'external'
            %li
              =current_link_to 'Builds', '/builds/index.html'
            
      %main.site-content
        -unless locals.key?(:title).blank? && current_page.data.title.blank?
          %h2=locals.key?(:title) ? title : current_page.data.title
        = yield
        
      %footer.site-footer
        Maintained by #{link_to 'TheE', 'https://github.com/TheE'}.

    = javascript_include_tag "site.min"
    - if current_page.data.display_particles
      = javascript_include_tag "particles.min", :defer => true

   