<!doctype html>
<html>
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "MyWarp" %></title>

        <!-- Classic favicon -->
        <link rel="icon" type="image/ico" href="favicon.ico"/>
        <link rel="shortcut icon" href="favicon.png"/>

        <!-- Safari (macOS & iOS) -->
        <link rel="apple-touch-icon-precomposed" sizes="180x180" href="apple-touch-icon-180x180-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

        <!-- For Chrome for Android: -->
        <link rel="icon" sizes="192x192" href="touch-icon-192x192.png">

        <!-- Opera, Google TV, Safari on macOS) -->
        <link rel="icon" sizes="160x160" href="touch-icon-160x160.png">
        <link rel="icon" sizes="96x96" href="touch-icon-96x96.png">
        <link rel="icon" sizes="32x32" href="touch-icon-32x32.png">

        <!-- Windows 8+ title pictures -->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
        <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
        <meta name="msapplication-wide310x150logo" content="/mstile-310x310.png">
        <meta name="msapplication-square310x310logo" content="/mstile-310x150.png">

        <!-- Custom assets -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <%= stylesheet_link_tag :site %>
    </head>

    <body class="<%= page_classes %>">

        <div id="wrapper">

            <header id="site-header">

                <% link_to '/' do %>
                <h1 id="site-titel">
                    <%= image_tag 'images/mywarp-logo.svg' , :alt => 'MyWarp'%>
                </h1>
                <% end %>

                <aside id="slogan">
                    Social and self managing warps for the Minecraft multiplayer.
                </aside>

                <ul id="site-links">
                    <li><%= link_to 'Documentation', 'https://github.com/MyWarp/MyWarp/wiki' %></li>
                    <li><%= link_to 'Issue Tracker', 'https://github.com/MyWarp/MyWarp/issues' %></li>
                    <li><%= link_to 'Localization', 'https://crowdin.com/project/mywarp' %></li>
                </ul>
            </header>

            <!-- see http://tholman.com/github-corners/ -->
            <a href="https://github.com/MyWarp/MyWarp" id="github-corner" aria-label="View source on Github">
                <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
                    <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                    <path
                        d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                        fill="currentColor"
                        style="transform-origin: 130px 106px;"
                        class="octo-arm"></path>
                    <path
                        d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                        fill="currentColor"
                        class="octo-body"></path>
                </svg>
            </a>

            <main id="site-content">
                <%= yield %>
            </main>
        </div>

        <footer id="site-footer">
            <section>
                <% link_to 'https://www.cloudbees.com' do %>
                  <%= image_tag 'images/cloudbees.png' %>
                <% end %>
            </section>
            <section>
                Made with ❤️ by the MyWarp team.<br/>
                Javadocs are available <%= link_to 'here', '/javadocs' %>.</p>
        </section>
    </footer>
</body>
</html>
